Repository magento/async-import, pull requests merged in 2019-11, with the labels that each got.

#219 #216 : Replace using object manager on Proxy object
  app/code/Magento/AsynchronousImportAdvancedPricing/etc/di.xml
  app/code/Magento/AsynchronousImportDataConverting/Model/ApplyConvertingRules.php
  app/code/Magento/AsynchronousImportDataConverting/etc/di.xml
  app/code/Magento/AsynchronousImportDataConvertingApi/Model/ConvertingRuleValidatorChain.php
  app/code/Magento/AsynchronousImportDataExchanging/Model/ExchangeImportData.php
  app/code/Magento/AsynchronousImportDataExchangingApi/Model/ImportValidatorChain.php
  app/code/Magento/AsynchronousImportSourceDataRetrieving/Model/RetrieveSourceData.php
  app/code/Magento/AsynchronousImportSourceDataRetrieving/etc/di.xml
  app/code/Magento/AsynchronousImportSourceDataRetrievingApi/Model/SourceValidatorChain.php
  composer.lock
Labels: Progress: changes requested

#189 Issue/159 yesnotobool converting rule
  app/code/Magento/AsynchronousImportCsvApi/Api/StartImportInterface.php
  app/code/Magento/AsynchronousImportDataConverting/Model/RuleApplyingStrategy/YesNoToBool.php
  app/code/Magento/AsynchronousImportDataConverting/etc/di.xml
  dev/tests/api-functional/testsuite/Magento/AsynchronousImportCsvApi/YesNoToBoolRuleTest.php
Labels: Award: test coverage, Progress: approved

#228 "base64" source data retrieving #141
  app/code/Magento/AsynchronousImportSourceDataRetrieving/Model/SourceDataRetrievingStrategy/Base64EncodedData.php
  app/code/Magento/AsynchronousImportSourceDataRetrieving/etc/di.xml
  dev/tests/integration/testsuite/Magento/AsynchronousImportSourceDataRetrieving/Model/SourceDataRetrievingStrategy/Base64EncodedDataTest.php
Labels: Award: test coverage, Partner: Comwrap, Progress: changes requested, partners-contribution

#229 Make Base64 validator works only for Base64 source
  app/code/Magento/AsynchronousImportSourceDataRetrieving/Model/SourceDataRetrievingStrategy/Base64EncodedData.php
  app/code/Magento/AsynchronousImportSourceDataRetrieving/Model/SourceValidator/Base64Validator.php
Labels: Partner: Comwrap, Progress: approved, partners-contribution
